# Security
SECRET_KEY=
ENCRYPTION_KEY=

# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Frontend Configuration
FRONTEND_URL=

# Database Configuration
MONGO_URI=
